html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Source Sans Pro";
  background-color: #2a2a2a;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.inputWrapper {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.inputWrapper > * {
  margin: 0 10px;
}

.inputWrapper > form {
  height: 100%;
  display: flex;
  align-items: center;
}

.inputWrapper > form > * {
  margin: 0 5px;
}

input[type=submit] {
  height: 34px;
  background: none;
  border: 1px solid #888;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  padding: 0 15px;
}

input[type=text] {
  height: 34px;
  width: 34px;
  background: none;
  border: none;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}

input.origin[type=text] {
  background-color: lightblue;
}

input.goal[type=text] {
  background-color: violet;
}

input[type=text]:focus {
  border-color: #fff;
  outline-width: 0;
}

svg {
  fill: #888;
  height: 50px;
  width: 50px;
  transform: scale(0.6);
}

.boardWrapper {
  z-index: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

table-board {
  z-index: 1;
  flex-grow: 1;
  box-sizing: border-box;
  display: grid;
  background-color: #272727;
  box-shadow: 0 10px 20px -7px #00000044;
  height: 100%;
  width: 100%;
  max-height: 500px;
  max-width: 500px;
  padding: 5px;
  --margin: 5px;
  transition: border-radius 0.4s ease-in-out;
}

table-board .node::before,
table-board .node::after {
  transition: opacity 0.4s ease-in-out, top 0.4s ease-in-out, right 0.4s ease-in-out, bottom 0.4s ease-in-out, left 0.4s ease-in-out;
}

table-board .node {
  transition: border-radius 0.4s ease-in-out, margin 0.4s ease-in-out;
}

table-board .node::before,
table-board .node::after {
  opacity: 0;
}

table-board.showMST {
  --margin: 15px;
  border-radius: 20px;
}

table-board.showMST .node {
  border-radius: 50%;
}

table-board.showMST .node::before,
table-board.showMST .node::after {
  opacity: 1;
}

.node {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  --bgcolor: #333;
  background-color: var(--bgcolor);
  color: #fff;
  user-select: none;
  margin: var(--margin);
}

.node.wall {
  background-color: #2a2a2a;
}

.node.path {
  background-color: blueviolet;
}

.node.origin {
  background-color: lightblue;
}

.node.goal {
  background-color: violet;
}

.node::before,
.node::after {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--bgcolor);
  z-index: -1;
}

.right::before,
.left::before {
  height: 10px;
  left: 50%;
  right: 50%;
}

.up::after,
.down::after {
  width: 10px;
  top: 50%;
  bottom: 50%;
}

.up::after {
  top: calc(var(--margin) * -2);
}

.right::before {
  right: calc(var(--margin) * -2);
}

.down::after {
  bottom: calc(var(--margin) * -2);
}

.left::before {
  left: calc(var(--margin) * -2);
}

label {
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */