$background: #333
$highlight: #fff

$origin: lightblue
$goal: violet
$path: blueviolet

html, 
body
  height: 100%
  width: 100%

body
  font-family: "Source Sans Pro"
  background-color: $background
  display: grid
  justify-content: center
  align-items: center
  flex-direction: column
  grid-template-columns: 1fr
  grid-template-rows: 1fr auto
  // grid-auto-rows: min-content

.inputWrapper
  height: fit-content
  display: flex
  flex-wrap: wrap
  align-items: center
  &>*
    margin: 0 10px

.inputWrapper > form
  height: 100%
  display: flex
  align-items: center
  &>*
    margin: 0 5px

input
  height: 50px
  background: none
  border: 1px solid $highlight
  text-align: center
  color: $highlight

input[type=text]
  height: 50px
  width: 50px
  background: none
  border: 1px solid $highlight
  border-radius: 50%
  text-align: center
  color: $highlight
  font-size: 2em

input.origin[type=text]
  background-color: $origin

input.goal[type=text]
  background-color: $goal

input[type=text]:focus
  border-color: $highlight
  outline-width: 0

svg
  fill: $highlight
  height: 50px
  width: 50px
  transform: scale(0.6)
  
.boardWrapper
  flex-grow: 1
  flex-direction: column
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%

table-board
  flex-grow: 1
  box-sizing: border-box
  display: grid
  box-shadow: 0 10px 20px -7px #00000044
  width: 100%
  height: 100%
  padding: 5px
  --margin: 5px

table-board .node::before,
table-board .node::after
  // transition: 0.4s ease-in-out
  transition: opacity 0.4s ease-in-out, top 0.4s ease-in-out, right 0.4s ease-in-out, bottom 0.4s ease-in-out, left 0.4s ease-in-out

table-board .node
  transition: border-radius 0.4s ease-in-out, margin 0.4s ease-in-out

table-board .node::before,
table-board .node::after
  opacity: 0

table-board.showMST
  --margin: 15px

table-board.showMST .node
  border-radius: 50%

table-board.showMST .node::before,
table-board.showMST .node::after
  opacity: 1

.node
  box-sizing: border-box
  position: relative
  display: flex
  justify-content: center
  align-items: center
  background-color: #444
  color: $highlight
  user-select: none
  margin: var(--margin)  

.node.wall
  background-color: $background

.node.path
  background-color: $path

.node.origin
  background-color: $origin

.node.goal
  background-color: $goal

.up::after,
.right::before,
.down::after,
.left::before
  content: ''
  display: block
  position: absolute
  background-color: #444
  z-index: -1

.right::before,
.left::before
  height: 10px
  left: 50%
  right: 50%

.up::after,
.down::after
  width: 10px
  top: 50%
  bottom: 50%

.up::after
  top: calc(var(--margin) * -2)

.right::before
  right: calc(var(--margin) * -2)

.down::after
  bottom: calc(var(--margin) * -2)

.left::before
  left: calc(var(--margin) * -2)


// Toggle

label
  color: $highlight

.switch 
  position: relative
  display: inline-block
  width: 60px
  height: 34px

.switch input  
  opacity: 0
  width: 0
  height: 0

.slider 
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #ccc
  -webkit-transition: .4s
  transition: .4s

.slider:before 
  position: absolute
  content: ""
  height: 26px
  width: 26px
  left: 4px
  bottom: 4px
  background-color: white
  -webkit-transition: .4s
  transition: .4s

input:checked + .slider 
  background-color: #2196F3

input:focus + .slider 
  box-shadow: 0 0 1px #2196F3

input:checked + .slider:before 
  -webkit-transform: translateX(26px)
  -ms-transform: translateX(26px)
  transform: translateX(26px)

/* Rounded sliders */
.slider.round 
  border-radius: 34px

.slider.round:before 
  border-radius: 50%