$background: #333;
$highlight: #fff;

html, 
body
    height: 100%
    width: 100%

body
  font-family: "Source Sans Pro"
  background-color: $background
  display: grid
  justify-content: center
  align-items: center
  flex-direction: column
  grid-template-columns: 1fr
  grid-template-rows: 1fr 100px

input[type=text]
  height: 50px
  width: 50px
  background: none
  border: 1px solid $highlight
  border-radius: 50%
  text-align: center
  color: $highlight
  font-size: 2em

input[type=text]:focus
  border-color: $highlight
  outline-width: 0

svg
  fill: $highlight
  height: 50px
  width: 50px
  transform: scale(0.6)
  
.tableWrapper
  display: flex
  justify-content: center
  align-items: center

.table, th, .td
  border: 2px solid $background

.table
  display: grid
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
  box-shadow: 0 5px 10px -4px #00000044

.td[data-cell-type=origin]::after
  content: ''
  display: block
  height: 50%
  width: 50%
  border-radius: 50%
  background-color: lightblue

.td[data-cell-type=wall]
  background-color: $background

.td[data-cell-type=goal]::after
  content: ''
  display: block
  height: 50%
  width: 50%
  border-radius: 50%
  background-color: violet

.td
  position: relative
  display: flex
  justify-content: center
  align-items: center
  background-color: #444
  height: 100px
  width: 100px

